<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <php>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="minefopstat"/>
        <env name="DB_SCHEMA" value="minefopstat"/>
        <env name="DB_USERNAME" value="minefopstat"/>
        <env name="DB_PASSWORD" value="minefopstat"/>
    </php>
    <testsuites>
        <testsuite name="reset-migration">
            <file>src/Xolens/PgLarapoll/Test/CleanSchemaTest.php</file>
        </testsuite> 
        <testsuite name="test-package">
            <file>src/Xolens/PgLarapoll/Test/Repository/GroupRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/FieldRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/UserRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/UserGroupRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/FormRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/InvestigationRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/FormFieldRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/FormFieldValueRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test-packageview">
            <file>src/Xolens/PgLarapoll/Test/Repository/View/GroupViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/FieldViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/UserViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/UserGroupViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/FormViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/InvestigationViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/FormFieldViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/UserInvestigationViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarapoll/Test/Repository/View/FormFieldValueViewRepositoryTest.php</file>
        </testsuite> 
    </testsuites>
</phpunit>